<div class="ui left vertical inverted labeled icon sidebar menu">
  <a href="<%= root_path %>" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a href="<%= tracks_path %>" class="item">
    <i class="dashboard icon"></i>
    Track Record
  </a>
  <a href="<%= courses_path %>" class="item">
    <i class="tasks icon"></i>
    Courses
  </a>
  <a href="<%= interactive_path %>" class="item">
    <i class="record icon"></i>
    Interactive
  </a>
  <a href="<%= courses_path %>" class="item">
    <i class="add circle icon"></i>
    Enroll
  </a>
  <a href="<%= edit_user_registration_path %>" class="item">
    <i class="setting icon"></i>
    Settings
  </a>
 <%= link_to destroy_user_session_path, { :method => :delete, class: "item"} do %>
       <i class="sign out icon"></i> Log Out
<% end %> 
    
</div>



<div class="ui black big launch right attached fixed button" id="menu-trigger">
  <i class="content icon"></i>
</div>


<script>
  $('.black.big.launch').on('click', function() {
    $('.left.sidebar').sidebar('toggle');
  });
</script>

