<div class="ui left vertical inverted labeled icon sidebar menu">
  <% if !current_user %>

    <%= new_user_session_path %>

  <% elsif current_user.is_admin? %>

    <a href="<%= root_path %>" class="item">
      <i class="home icon"></i>
      Home
    </a>

    <a href="<%= courses_path %>" class="item">
      <i class="dashboard icon"></i>
      Course Offerings
    </a>

    <a href="<%= students_path %>" class="item">
      <i class="tasks icon"></i>
      All Users
    </a>
    <a href="<%= interactives_path %>" class="item">
      <i class="record icon"></i>
      Interactive Room
    </a>
    <a href="<%= edit_user_registration_path %>" class="item">
      <i class="setting icon"></i>
      Edit Admin Info
    </a>
    <%= link_to destroy_user_session_path, { :method => :delete, class: "item"} do %>
         <i class="sign out icon"></i> Log Out
    <% end %>

  <% else %>

    <a href="<%= root_path %>" class="item">
      <i class="home icon"></i>
      Home
    </a>
    <!-- the track button was removed from this spot -->
    <a href="<%= enrollments_path %>" class="item">
      <i class="tasks icon"></i>
      My Courses
    </a>
    <a href="<%= courses_path %>" class="item">
      <i class="add circle icon"></i>
      Course Catalogue
    </a>
    <a href="<%= interactives_path %>" class="item">
      <i class="record icon"></i>
      Interactive
    </a>
    <a href="<%= edit_user_registration_path %>" class="item">
      <i class="setting icon"></i>
      Settings
    </a>
    <%= link_to destroy_user_session_path, { :method => :delete, class: "item"} do %>
           <i class="sign out icon"></i> Log Out
    <% end %>

  <% end %>

</div>

<div class="ui primary big launch right attached fixed button" id="menu-trigger">
  <i class="content icon"></i>
</div>


<script>
  $('#menu-trigger').on('click', function() {
    $('.left.sidebar')
    .sidebar('setting', 'transition', 'push')
    .sidebar('toggle')
  });
</script>

