<div class="ui left vertical inverted labeled icon sidebar menu">
  <% if !current_user %>

    <%= new_user_session_path %>

  <% elsif current_user.is_admin? %>

    <a href="<%= root_path %>" class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a href="<%= courses_path %>" class="item">
      <i class="dashboard icon"></i>
      Courses
    </a>
    <a href="<%= tracks_path %>" class="item">
      <i class="add circle icon"></i>
      Tracks
    </a>
    <a href="<%= students_path %>" class="item">
      <i class="tasks icon"></i>
      Users
    </a>
    <a href="<%= interactives_path %>" class="item">
      <i class="record icon"></i>
      Interactive
    </a>
    <a href="<%= edit_user_registration_path %>" class="item">
      <i class="setting icon"></i>
      Placeholder
    </a>
    <%= link_to destroy_user_session_path, { :method => :delete, class: "item"} do %>
         <i class="sign out icon"></i> Log Out
    <% end %>

  <% else %>

    <a href="<%= root_path %>" class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a href="<%= tracks_path %>" class="item">
      <i class="dashboard icon"></i>
      Track Record
    </a>
    <a href="<%= enrollments_path %>" class="item">
      <i class="tasks icon"></i>
      My Courses
    </a>
    <a href="<%= courses_path %>" class="item">
      <i class="add circle icon"></i>
      Enrollment Options
    </a>
    <a href="<%= interactives_path %>" class="item">
      <i class="record icon"></i>
      Interactive
    </a>
    <a href="<%= edit_user_registration_path %>" class="item">
      <i class="setting icon"></i>
      Settings
    </a>
    <%= link_to destroy_user_session_path, { :method => :delete, class: "item"} do %>
           <i class="sign out icon"></i> Log Out
    <% end %>

  <% end %>

</div>





<div class="ui black big launch right attached fixed button" id="menu-trigger">
  <i class="content icon"></i>
</div>


<script>
  $('.black.big.launch').on('click', function() {
    $('.left.sidebar').sidebar('toggle');
  });
</script>

