<!-- start preloader -->
<!-- 	<div class="preloader">
		<div class="sk-spinner sk-spinner-rotating-plane"></div>
		</div> -->
<!-- end preloader -->
<div class="landing-page" id="landing-page"> 
	<h2 class="huge-text" style="margin-top: 200px;">Become a Developer</h2>
	<div class="ui inverted button" style="position:absolute; top:-180px; left:20px;">
  <i class="icon student"></i>
  E-Learning Group
</div>
				<% if !current_user %>
					<div class="ui buttons" style="position:absolute; top:-180px; right:20px;">
		  			<%= link_to('Log In', new_user_session_path, class: 'ui button' ) %>
		  			<div class="or"></div>
		  			<%= link_to('Sign Up', new_user_registration_path, class: 'ui teal button' ) %>
					</div>
				<% else %>
					<div class="ui buttons" style="position:absolute; top:-180px; right:20px;">
						<%= link_to ('Dashboard'), enrollments_path, class: 'ui primary button' %>
						<div class="or"></div>
						<%= link_to('Sign Out', destroy_user_session_path, :method => :delete, class: 'ui red button' ) %>
					</div>
				<% end %>

	<div class="row">
			<div class="col-md-12">
				<div>
					<%= link_to('Explore Courses', courses_path, class: 'ui teal button' ) %>
				</div>
			</div>
	</div>
</div>

<div class="pusher">
	<video height="600px" id="hero" autoplay loop preload="auto">
	  <source src="/videos/frontvideo.mp4" media="all and (max-width:480px)">
	  There would be a video here if you had a better browser.
	</video>
</div>

<!-- start navigation -->
		<nav id="navibar" class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">E-Learn</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#landing-page">Home</a></li>
						<li><a href="#home">The Program</a></li>
						<li><a href="#feature">Curriculum</a></li>
						<li><a href="#contact">Contact</a></li>
						<li>
							<% if current_user %>
									<div class="ui buttons">
		  							<%= link_to('Sign Out', destroy_user_session_path, :method => :delete, class: 'ui positive button' ) %>
								</div>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

		<!-- start home -->
		<section id="home" style="position: absolute; top: 600px;">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
							<h1 class="text-upper">The Program</h1>
							<p class="tm-white">We offer a number of courses and update them regularly so that all our material is relevant in helping you launch or progress your Developer career!</p>
							<%= image_tag('software-img.png') %>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end home -->

		<!-- start divider -->
		<section id="divider" style="position: inherit; top: 1280px; color: white;">
			<div class="container overlay">
				<div class="row">
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-laptop"></i>
						<h3 class="text-uppercase">LEARN</h3>
						<p>We'll guide you through the best videos, tutorials, blog posts, and courses on the web for learning each subject. </p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-magic"></i>
						<h3 class="text-uppercase">BUILD</h3>
						<p>You will build dozens of projects along the way, from simple scripts to full programs and deployed websites </p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-users"></i>
						<h3 class="text-uppercase">WORK WITH OTHERS</h3>
						<p>Learning on your own sucks (we've been there). We're building tools to connect you with other students along the way so you can pair up on the projects or just work through those annoying bugs with someone else across the world. </p>
					</div>
				</div>
			</div>
		</section>
		<!-- end divider -->

		<!-- start feature -->
		<section id="feature" style="position: inherit; top: 1270px;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Our Curriculum</h2>
						<p>The curriculum is really flexible -- when a better way to learn something comes along we can just use that instead!</p>
						<p><span><i class="fa fa-mobile"></i></span>If you want to learn web development, you've come to the right place. We found the best free resources out there and grouped them into the courses listed below so you don't have to waste time doing it yourself. We've also created projects for you to build along the way so you can really learn the material and boost your portfolio.</p>
						<p><i class="fa fa-code"></i>The courses are designed to be completed in order, so start from the top and work your way down. The best part is, it's free!</p>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
						<%= image_tag('software-img.png') %>
					</div>
				</div><hr />
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<%= image_tag('software-img.png') %>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Full Stack Web Development</h2>
						<p>Learn to rapidly develop and deploy websites using Ruby on Rails.</p>
						<p><span><i class="fa fa-mobile"></i></span>Make your websites dynamic and smooth with javascript and jQuery.</p>
						<p><i class="fa fa-code"></i>Once you've got the skills required we guide you into finding your dream job!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

		<!-- start contact -->
		<section id="contact" style="position: inherit; top: 1290px;">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<h2 class="text-uppercase">Contact Us</h2>
							<p>Please don't hesitate in contacting us if you have any questions or other inquires. </p>
							<address>
								<p><i class="fa fa-map-marker"></i> 220 King St W, Suite 200, Toronto, ON M5H 1K4</p>
								<p><i class="fa fa-phone"></i> (647) 498-5904</p>
								<p><i class="fa fa-envelope-o"></i> contact@elearning-group.com</p>
							</address>
						</div>
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="contact-form">
								<form action="#" method="post">
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-12">
										<input type="text" class="form-control" placeholder="Subject">
									</div>
									<div class="col-md-12">
										<textarea class="form-control" placeholder="Message" rows="4"></textarea>
									</div>
									<div class="col-md-8">
										<input type="submit" class="form-control text-uppercase" value="Send">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->

		<!-- start footer -->
		<footer style="position: inherit; top: 1300px;">
			<div class="container">
				<div class="row">
					<p>Copyright © 2015 elearngroup.com | A Bitmaker Labs Project</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->