<div class="pusher">
	<div class="ui grid">

		<div class="two wide column sticky top"></div>
		<div class="seven wide column center aligned">

			<% if current_user.is_admin? %>
				<br>
					<%= form_tag students_path, {method: :get, authentication: false, id: 'search-form'} do %>
		        <%= text_field_tag :search, params[:search] %>
		        <%= submit_tag "Search" %>
					<% end %>

			 	<%= button_to "Clear", students_path, method: :get, id: "button_to_clear", params: {search: ""} %>
			 	<%= button_to "Add Instructor", new_instructor_path, method: :get, id: "button_for_new_instructor" %>

				<%= check_box_tag :instructors, 1, false %>
				<%= label_tag :instructors %>

				<br>

				<div id="users_list_handle">
					<%= render partial: 'users_list', collection: @users, as: :user %>
				</div>
			<% else %>
				<h1>Access Denied</h1>
				<%= link_to 'Home', root_path, class: "ui button" %>
			<% end %>

		</div>

		<div class="one wide column">
			<%= render 'right_sidebar' %>
		</div>
	</div>
</div>
