<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="pusher">
  <div class="ui grid">

    <!-- Left Sidebar -->
    <div class="one wide column sticky top">
      <%= render 'left_sidebar' %>
    </div>

    <!-- Detail Column -->
    <div class="four wide column main container">
      <!-- User Section -->
      <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;">
        <h1 style="text-align:center;">User Details</h1><hr />
          <strong>Name:</strong> <%= current_user.first_name %> <%= current_user.last_name %> <br>
          <strong>Email:</strong> <%= current_user.email %> <br>
          <strong>Joined: </strong> <%= current_user.created_at.strftime('%B %-d, %Y') %><br>
          <strong>Last Logged In: </strong> <%= current_user.last_sign_in_at.to_formatted_s(:long_ordinal) %><hr />
          <%= link_to 'Edit Info', edit_user_registration_path, class: 'ui button' %>
      </div>

      <!-- Reward & Badges Section -->
      <div class="ui <%= color.sample %> segment" style="margin-bottom: 40px;">
        <h1 style="text-align:center;">Reward Badges</h1><hr />
      </div>
    </div>

    <!-- Recent Activity & Progress Tracker Column -->
    <div class="ten wide column">
      <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;">
        <h1 style="text-align:center;">Activity Details</h1><hr />

        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" style="font-size:21px;">
            <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Progress Tracker</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recent Activity</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <br>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="ui <%= color.sample %> segment">
                <h1 style="text-align:center;">Recent Activity</h1>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="messages">
              <div class="ui <%= color.sample %> segment">
                <h1 style="text-align:center;">Progress Tracker</h1>
                  <% current_user.courses.each do |course| %>
                    <h1><%= course.name %></h1><br>
                      <% course.lessons.each do |lesson| %>
                        Lesson <%= lesson.lesson_count %>:
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="<%= current_user.progress(lesson) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.progress(lesson) %>%;">
                              <%= current_user.progress(lesson) %>%
                            </div>
                          </div>
                            <% lesson.chapters.each do |chapter| %>
                              <% if current_user.completed?(chapter) %>
                                Chapter <%= chapter.chapter_count %>: <i class="large green checkmark icon"></i><br>
                              <% else %>
                                Chapter <%= chapter.chapter_count %>: <br>
                              <%end%>
                            <%end%>
                          <br>
                      <%end%>
                  <%end%>
              </div>
            </div>
            <!-- <div role="tabpanel" class="tab-pane" id="settings">
              <div class="ui <%= color.sample %> segment">
                <h1 style="text-align:center;">User Settings</h1>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Right Sidebar -->
    <div class="one wide column">
      <%= render :partial => 'right_sidebar' %>
    </div>
  </div>
</div>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script> 
