<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="pusher">
  <div class="ui grid">

    <!-- Left Sidebar -->
    <div class="one wide column sticky top">
      <%= render 'left_sidebar' %>
    </div>

    <!-- Detail Column -->
    <div class="four wide column main container">
      <!-- User Section -->
      <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;">
        <h1 style="text-align:center;">User Details</h1><hr />
          <strong>Name:</strong> <%= current_user.first_name %> <%= current_user.last_name %> <br>
          <strong>Email:</strong> <%= current_user.email %> <br>
          <strong>Joined: </strong> <%= current_user.created_at.strftime('%B %-d, %Y') %><br>
          <strong>Last Logged In: </strong> <%= current_user.last_sign_in_at.to_formatted_s(:long_ordinal) %><hr />
          <%= link_to 'Edit Info', edit_user_registration_path, class: 'ui button' %>
      </div>

      <!-- Reward & Badges Section -->
      <div class="ui <%= color.sample %> segment" style="margin-bottom: 40px;">
        <h1 style="text-align:center;">Reward Badges</h1><hr />
      </div>
    </div>

    <!-- Recent Activity & Progress Tracker Column -->
    <div class="ten wide column">
      <div class="ui <%= color.sample %> segment" style="margin-top: 100px; margin-bottom: 40px;">
        <h1 style="text-align:center;">Activity Details</h1><hr />
        <div class="ui <%= color.sample %> segment">
          <h1>Recent Activity</h1>
          <div class="ui accordion field">
            <div class="active title">
              <i class="dropdown icon"></i>
              What is a dog?
            </div>
            <div class="active content field">
              <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
            </div>
          </div>
        </div>
        <div class="ui <%= color.sample %> segment">
          <h1>Progress</h1>
        </div>
      </div>
    </div>

    <!-- Right Sidebar -->
    <div class="one wide column">
      <%= render :partial => 'right_sidebar' %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

  });
</script>