<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="nine wide column main container">
      <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
      <h1 style="text-align: center;">Book time with a TA</h1> 


        <div class="ui form">
          <%= form_for(@booking, url: new_user_booking_path) do |booking| %>
            <div class="field">
              <%= booking.label :date %><br/>
              <%= booking.text_field :date %>
            </div>
            <div class="field">
              <%= booking.label :date %><br/>
              <%= booking.text_field :date %>
            </div>
            <div class="field">
              <%= booking.label :start_time %><br/>
              <%= booking.text_field :start_time %>
            </div>
            <div class="field">
              <%= booking.label :end_time %><br/>
              <%= booking.text_field :end_time %>
            </div>

            <div class="actions">
              <%= booking.submit "Submit", :class => "ui primary button" %>
            </div>
          <% end %>
        </div>

            </div>
        </div>
        <%= render :partial => 'dashboard/right_sidebar' %>
      </div>
    </div>
