<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="nine wide column main container">
      <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
      <h1 style="text-align: center;">Book time with a TA</h1> 

      <div class="ui two column grid">
        

        <div class="column">

            <div class="ui hidden divider"></div>
            <div class="ui vertical steps" style="float:right;">
              <a class="active step">
            <i class="calendar icon"></i>
            <div class="content">
              <div class="title">Schedule Booking</div>
              <div class="description">Booking Form</div>
            </div>
              </a>
              <a class="disabled step">
            <i class="payment icon"></i>
            <div class="content">
              <div class="title">Process Payment</div>
              <div class="description">Pay with Stripe</div>
            </div>
              </a>
              <a class="disabled step">
            <i class="info icon"></i>
            <div class="content">
              <div class="title">Confirmation</div>
              <div class="description">Transaction Complete</div>
            </div>
              </a>
            </div>
          </div>

          <div class="column">
          <%= form_for([@schedule, @booking], method: 'POST') do |booking| %>
          <div class="field">
              <%= booking.label :Instructor %><br/>
              <%= @schedule.user.first_name %>

            </div>
            <div class="field">
              <%= booking.label :date %><br/>
              <%= booking.collection_select :date, Schedule.order(:date),:id,:date, include_blank: true %>
            </div>
            <div class="field">
              <%= booking.label "Available Timeslots" %><br/>
              <%= booking.select :time, options_for_select(@schedule.hour_options) %>
            </div>


            <div class="actions">
              <%= booking.submit "Submit", :class => "ui primary button" %>
            </div>
          <% end %>

        </div>

        </div>

            </div>
        </div>
        <%= render :partial => 'dashboard/right_sidebar' %>
      </div>
    </div>
