<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="nine wide column main container">
      <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
      <h1 style="text-align: center;">Book time with a TA</h1> 


        <div class="ui form">
          <%= form_for(@booking, url: user_bookings_path) do |booking| %>
          <div class="field">
              <%= booking.label :Instructor %><br/>
              <%= booking.collection_select :schedule_id, Schedule.order(:date),:id,:user_id, include_blank: true %>

            </div>
            <div class="field">
              <%= booking.label :date %><br/>
              <%= booking.date_select :date %>
            </div>
            <div class="field">
              <%= booking.label :start_time %><br/>
              <%= booking.select :start_time, [["1:00", 1],["2:00", 2],["3:00", 3],["4:00", 4],["5:00", 5]] %>
            </div>
            <div class="field">
              <%= booking.label :end_time %><br/>
              <%= booking.select :end_time, [["1:00", 1],["2:00", 2],["3:00", 3],["4:00", 4],["5:00", 5]] %>
            </div>

            <div class="actions">
              <%= booking.submit "Submit", :class => "ui primary button" %>
            </div>
          <% end %>
        </div>

            </div>
        </div>
        <%= render :partial => 'dashboard/right_sidebar' %>
      </div>
    </div>
