<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="nine wide column main container">
      <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
      <h1 style="text-align: center;">Book time with a TA</h1> 


        
          <%= form_for([@schedule, @booking], method: 'POST') do |booking| %>
          <div class="field">
              <%= booking.label :Instructor %><br/>
              <%= @schedule.user.first_name %>

            </div>
            <div class="field">
              <%= booking.label :date %><br/>
              <%= booking.collection_select :date, Schedule.order(:date),:id,:date, include_blank: true %>
            </div>
            <div class="field">
              <%= booking.label "Available Timeslots" %><br/>
              <%= booking.select :time, options_for_select(@schedule.time).hour_options %>
            </div>


            <div class="actions">
              <%= booking.submit "Submit", :class => "ui primary button" %>
            </div>
          <% end %>
        

            </div>
        </div>
        <%= render :partial => 'dashboard/right_sidebar' %>
      </div>
    </div>
