<!-- index view for courses the user is enrolled in -->
<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="ten wide column main container">
        <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
         <h2 style="text-align: center;">TA Schedule</h2> 
           <% @schedules.each do |s| %>
            <div class="ui special cards">
              <div class="card">
                <div class="dimmable image">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <a href="<%= schedules_path %>"><div class="ui inverted button">View Schedules</div></a>
                      </div>
                    </div>
                  </div>
                  <%= image_tag('steve.jpg') %>
                </div>
                <div class="content">
                  <a class="header"><%= s.user.first_name %></a>
                  <div class="meta">
                    <span class="date">Available Days: <%= s.date %>.</span>
                  </div>
                </div>
                <div class="extra content">
                  <a>
                  Teaches:<%= s.user.enrollments.each do |enroll| %>
                  <% if enroll.nil? %>
                  <%else%>
                    <%= enroll.course.name %>,
                    <% end %>
                    <%end%>
                  </a>
                </div>
              </div>            
            </div>
            <% end %>
          </div>
        </div> 
      <div class="three wide column sticky top"></div>
    <%= render :partial => 'dashboard/right_sidebar' %>
  </div>
</div>


      