<!-- index view for courses the user is enrolled in -->
<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="ten wide column main container">
        <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
         <h2 style="text-align: center;">New Schedule</h2> 
            
          <%= form_for(@schedule, url: user_schedules_path)  do |s| %>
            
            <div class="field">

            <%
            x = ["12-1pm", "1-2pm", "2-3pm", "3-4pm", "4-5pm", "5-6pm", "6-7pm", "7-8pm", "8-9pm", "9-10pm", "10-11pm", "11-12am","12-1am", "1-2am", "2-3am", "3-4am", "4-5am", "5-6am", "6-7am", "7-8am", "8-9am", "9-10am", "10-11am", "11-12pm"]
            i = 1
            24.times do 

            
            %>


              <%= s.label x[i-1] %>
              <%= s.check_box :time, {:multiple => "true"}, i %>
              <% i += 1 %>
            <% end %>
            </div>
            <div class="field">
              <%= s.label :date %><br/>
              <%= s.date_select :date %>
            </div>
             <div class="actions">
              <%= s.submit "Save", :class => "ui primary button", :time => [:time] %>
            </div>

          <% end %>

        </div>
      </div>



  <div class="three wide column sticky top"></div>
    <%= render :partial => 'dashboard/right_sidebar' %>
  </div>

</div>


