<!-- index view for courses the user is enrolled in -->
<%= render :partial => 'dashboard/left_sidebar' %>
<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>  
<div class="pusher">
  <div class="ui grid">
    <div class="three wide column sticky top"></div>
      <div class="ten wide column main container">
        <div class="ui <%= color.sample %> segment" style="margin-top: 90px; margin-bottom: 40px;">
         <h2 style="text-align: center;">New Schedule</h2> 
            
          <%= form_for(@schedule, url: user_schedules_path)  do |s| %>
            
            <div class="field">
    
              <%= s.check_box :time, {:multiple => "true"}, 1 %> 12-1pm

              <%= s.check_box :time, {:multiple => "true"}, 2 %>1-2pm

              <%= s.check_box :time, {:multiple => "true"}, 3 %>2-3pm
  



            </div>
            <div class="field">
              <%= s.label :date %><br/>
              <%= s.date_select :date %>
            </div>
             <div class="actions">
              <%= s.submit "Save", :class => "ui primary button" %>
            </div>

          <% end %>

        </div>
      </div>



  <div class="three wide column sticky top"></div>
    <%= render :partial => 'dashboard/right_sidebar' %>
  </div>

</div>


