<div class="ui grid">
	<div class="one wide column">
		<%= render :partial => 'dashboard/left_sidebar' %>
	</div>

	<div class="fourteen wide column" style="margin-top: 100px;">
		<div class="ui segment">
			<p>
  			<strong>Name:</strong>
  			<%= @lesson.name %>
			</p>
			<p>
  			<strong>Description:</strong>
  			<%= @lesson.description %>
			</p>
			<p>
  			<strong>Course:</strong>
  			<%= @lesson.course.name %>
			</p>
			<h3>Quick Summary</h3>
			<ul>
        <% @lesson.wl_show.each do |wl| %>
        	<li>
        		<%= wl %>
        	</li>
        <% end %>
      </ul>
      <h3>Project Summary</h3>
      <ul>
        <% @lesson.wb_show.each do |wb| %>
        	<li>
        		<%= wb %>
        	</li>
        <% end %>
      </ul>
		</div>
		<div style="text-align:center;">
			<% if current_user.is_admin? %>
				<%= link_to 'Edit', edit_course_lesson_path, class: 'ui button' %>
				<%= link_to 'Back', course_lessons_path, class: 'ui button' %>
			<% elsif current_user.is_student? %>
				<%= link_to 'Back', course_lessons_path, class: 'ui button' %>	
			<% end %>
		</div>
	</div>

	<div class="one large column">
	<%= render :partial => 'dashboard/right_sidebar' %>
	</div>
</div>