<!-- <p id="notice"><%= notice %></p>
<div style="text-align:center;">
  <h1>Find Your New Career Today!</h1>

  <%= link_to 'Home', root_path %>
  <%= link_to 'New Course', new_course_path %>

  <div class="container">
      <% @courses.each do |course| %>
          <table class="ui celled structured table">
            <thead>
              <tr>
                <th rowspan="2">Course</th>
                <th rowspan="2">Price ($)</th>
                <th colspan="5">Languages</th>
              </tr>
              <tr>
                <th>Ruby on Rails</th>
                <th>JavaScript</th>
                <th>jQuery</th>
                <th>AJAX</th>
                <th>HTML5/CSS3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to course.name, course %></td>
                <td><%= course.price %></td>
                <td>
                  <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <i class="large green checkmark icon"></i>
                </td>
                <td>
                    <i class="large green checkmark icon"></i>
                </td>
              </tr>
            </tbody>
          </table>
      <% end %>
  </div>
</div>
<br>

-->
<%= render :partial => 'dashboard/left_sidebar' %>

<div class="container">


    <% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
    <div class="ui <%= color.sample %> segment" style="margin-top: 40px;">

    <div class="ui cards" style="margin-top: 20px;">
      <div class="card">
        <div class="content">
          <div class="header">Web Development</div>
          <div class="description">
            Elliot Fu is a film-maker from New York. She also isnt very good
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Course
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Mobile Development</div>
          <div class="description">
            Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Course
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Game Development</div>
          <div class="description">
            Jenny is a student studying Media Management at the New School
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Course
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Front End Development</div>
          <div class="description">
            Jenny is a student studying Media Management at the New School
          </div>
        </div>
        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Add Course
        </div>
      </div>
    </div>

    </div>

</div>
