<% if current_user.nil? %>

  <!-- Provide regular course details page for site visitors -->
  <div>
    <h2>Course Detail Page for Site Visitors</h2>
    <p>
      <%= @course.name %> <br>
      <%= @course.description %> <br>
    </p>
  </div>

<% else %>

  <p id="notice"><%= notice %></p>
  <div class="ui grid">
    <div class="two wide column">
      <%= render 'dashboard/left_sidebar' %>
    </div>
    <div class="twelve wide column" style="margin-top: 40px;">
      <div class="ui segment">
        <div class="ui ribbon label">Course</div>
          <div style="text-align:center;" class="clearfix">
            <p>
              <strong>Name:</strong>
              <%= @course.name %>
            </p>
            <p>
              <strong>Price:</strong>
              FREE!
            </p>
            <p>
              <strong>Description:</strong>
              <%= @course.description %>
            </p><br>
          </div><br>
        <div class="ui bottom attached label">
          <% if @not_enrolled && !current_user.is_admin? %>
            <%= form_for [@course, @enrollment] do |f| %>
              <%= f.submit 'Confirm Enrollment' %>
            <% end %>
          <% elsif !current_user.is_admin? %>
            <p>
              Already enrolled. Go to:
              <%= link_to 'My Courses', enrollments_path, class: "ui black basic button" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="zero wide column"></div>
  </div>

  <!-- Admin has full access to editing function -->
  <!-- Instructor can edit course title and description, but not price -->
  <!-- Student does not have edit priviledge -->
  <% if current_user.is_admin? || current_user.is_instructor? %>
    <div style="text-align:center;"><br>
      <%= link_to 'Edit', edit_course_path(@course) , class: "ui button"%>
      <%= link_to 'New Lesson', new_course_lesson_path(@course), class: "ui button" %>
      <%= link_to 'All Lessons', course_lessons_path(@course), class: "ui button" %>
    </div>
  <% end %>

<% end %>

<!-- If user has not already registered for the course then enable register link -->



<!--
 <%= link_to_if (@not_enrolled && !@admin_or_instructor),'Register Now', new_course_enrollment_path(@course) %>

 <div id="placeholder-div1"></div>

<script>
  gapi.hangout.render('placeholder-div1', {
    'render': 'createhangout',
    'initial_apps': [{'app_id' : '184219133185', 'start_data' : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]
  });
</script>
</div> -->
