<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="ui grid">

	<!-- MAIN SIDEBAR COLUMN -->
 	<div class="one wide column">
 		<%= render :partial => 'dashboard/left_sidebar' %>
 	</div>

  <div class="fourteen wide column">
    <div class="ui <%= color.sample %> segment" style="margin-top: 90px;margin-bottom:20px;z-index:0;">
    	<%= render :partial => 'show' %>
  	</div>

  	<div style="float:left;">
  		
      <% if !@chapter.first_of_course? %>
  			<%= link_to 'Before', course_lesson_chapter_path(@prev_chapter.course, @prev_chapter.lesson, @prev_chapter), class: "ui button primary" %>
  		<% end %>
  		
      <% if !@chapter.last_of_course? %>
  			<%= link_to 'Next', course_lesson_chapter_path(@next_chapter.course, @next_chapter.lesson, @next_chapter), class: "ui button primary pull right" %>
  		<% end %>

  	</div>
  </div>
  <div class="one wide column">
    <%= render :partial => 'dashboard/right_sidebar' %>
  </div>
</div>