<% color = ['blue', 'orange', 'green', 'red', 'purple', 'teal'] %>
<div class="ui grid">

	<!-- MAIN SIDEBAR COLUMN -->
 	<div class="one wide column">
 		<%= render :partial => 'dashboard/left_sidebar' %>
 	</div>
 	
 	<!-- MAIN VIDEO COLUMN -->
 	<div class="seven wide column" style="margin-top: 100px;">
 		<% if @lesson.video_id.nil? %>
 			<br>
      <iframe id="lesson-video" width="550" height="400" src="https://www.youtube.com/embed/Zyu7SWI6wh4" frameborder="0" allowfullscreen></iframe>
    <% else %>
    	<br>
      <iframe id="lesson-video" width="550" height="400" src="https://www.youtube.com/embed/<%= @lesson.video_id %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>
  <div class="seven wide column">
    <div class="ui <%= color.sample %> segment" style="margin-top: 20px;margin-bottom: 20px; z-index: -999;">
    	<%= render :partial => 'show' %>
  	</div>
    <%= button_to "Mark Completed", :controller => 'chapters', :action => "student_progress" %>
  	<div style="float: left;">
  		<% if !@chapter.first_of_course? %>
  			<%= link_to 'Before', course_lesson_chapter_path(@prev_chapter.course, @prev_chapter.lesson, @prev_chapter), class: "ui button primary" %>
  		<% end %>
  		<% if !@chapter.last_of_course? %>
  			<%= link_to 'Next', course_lesson_chapter_path(@next_chapter.course, @next_chapter.lesson, @next_chapter), class: "ui button primary pull right" %>
  		<% end %>
  	</div>
 	</div>

 	<!-- MAIN CONTENT CLOUMN -->
  <div class="one wide column">
  	<div class="pusher">
  		<%= render :partial => 'dashboard/right_sidebar' %>
  	</div>
 	</div>
</div>