<% if @interactive.id != session[:authenticated_rooms] %>
	<div class="ui segment center aligned">
		<%= form_tag authenticate_interactive_path(@interactive), method: 'post' do |f| %>
			<%= label_tag "PASSWORD of DOOM" %>
			<%= text_field_tag "interactive[password]" %>
			<%= submit_tag "Submit", class: "ui button primary" %>
		<% end %>
	</div>
<% elsif @interactive.id == session[:authenticated_rooms] %>
	<iframe width="100%" height="630px" src="<%= @interactive.url %>" frameborder="0" allowfullscreen></iframe>

<% end %>