<br>
<div class="ui grid">
	<div class="one wide column">
		<%= render 'dashboard/left_sidebar' %>
	</div>	
	<div class="ten wide column center aligned">
		<h1>Currently
			
			<% if @interactives.length <= 1 %>
				<%= @interactives.length %> public session</h1>
			<% elsif @interactives.length > 1 %>
				<%= @interactives.length %> public sessions</h1>
			<% end %>

			<% if current_user.is_instructor? || current_user.is_admin? %>
				<%= link_to 'Add Room', new_interactive_path, class: "ui button" %>
			<% end %>


		<% @interactives.each do |interactive| %>
			<div class="ui segment">
  			<p><%= interactive.about %></p>
 				<%= link_to 'Go to Room', interactive_path(interactive.id), class: "ui button primary" %><hr />
 				<% if current_user.is_admin? || current_user.is_instructor? %>
					<%= link_to "Edit", edit_interactive_path(interactive), class: "ui button teal" %>
					<%= link_to "Delete", (interactive), method: :delete, data: {confirm: "Are you sure you want to delete this session?"}, class: "ui button red" %>
				<% end %>
				</p>
			</div>
		<% end %>	
	</div>
	<div class="five wide column">
		<%= render 'dashboard/chat' %>
	</div>
</div>