<!DOCTYPE html>
<html>
<head>
  <link rel="favicon" href="../../assets/images/e-learning-logo.ico" />
  <title>eLearning Group</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
	<!-- Firebase -->
	<script src='https://cdn.firebase.com/js/client/2.1.0/firebase.js'></script>

	<!-- Firechat -->
	<link rel='stylesheet' href='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.css' />
	<script src='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.js'></script>

  <!-- CodeMirror and its JavaScript mode file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.css" />

  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>
  <!-- <script src="../../assets/javascripts/firepad-userlist.js"></script> -->
  <!-- <link rel="stylesheet" href="../../assets/stylesheets/firepad-userlist.css" /> -->
<%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_page?(root_path) || current_page?(interactive_path) %>

<%= yield %>

<% elsif !current_page?('/') %>
<div class="pusher">
  <%= render_breadcrumbs %>
  <br>

<%= yield %>
</div>
<% end %>
</body>
</html>
